name: CI

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"

env:
  PYTHON_VERSION: 3.14.1
  IMAGE_NAME: ${{secrets.DOCKERHUB_USERNAME}}/software-metrics-machine

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Cache Poetry & pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies (poetry)
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction --no-ansi --no-root

      - name: Run flake8
        run: poetry run flake8

      - name: Run mypy
        run: poetry run mypy ./src ./tests

  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Cache Poetry & pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies (poetry)
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction --no-ansi --no-root

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=$(pwd)/src:$(pwd)/${PYTHONPATH}" >> $GITHUB_ENV

      - name: Set Configuration
        run: |
          echo "SMM_STORE_DATA_AT=$(pwd)/tmp_test/github" >> $GITHUB_ENV
          mkdir -p "$(pwd)/tmp_test/github"

          TEMPLATE=$(cat <<EOF
            {
              "git_provider": "github",
              "github_token": "fake-token",
              "github_repository": "fake-repo-test",
              "git_repository_location": "$(pwd)/tmp_test/repo",
              "deployment_frequency_target_pipeline": "",
              "deployment_frequency_target_job": ""
            }
          EOF
          )

          echo "$TEMPLATE" > "$(pwd)/tmp_test/github/smm_config.json"
          mkdir -p "$(pwd)/tmp_test/github"
          mkdir -p "$(pwd)/tmp_test/repo"
          chmod -R 755 "$(pwd)/tmp_test"

      - name: Run pytest
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Pytest"
          poetry run pytest -vvv --cov=. --cov-report=xml --ignore=tests/apps/cli/e2e --ignore=tests/apps/dashboard

      - name: Save coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml


  upload-coverage:
    name: Upload Coverage
    runs-on: ubuntu-latest
    needs: [code-quality, pytest]
    steps:
      - name: Download coverage report
        uses: actions/download-artifact@v4
        with:
          name: coverage-report

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          format: cobertura
          file: coverage.xml

  e2e_cli:
    needs: [code-quality, pytest]
    name: "E2E tests CLI"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Install bashunit"
        run: |
          curl -s https://bashunit.typeddevs.com/install.sh > install.sh
          chmod +x install.sh
          ./install.sh

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Cache Poetry & pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=$(pwd)/src:$(pwd)/${PYTHONPATH}" >> $GITHUB_ENV

      - name: Install dependencies (poetry)
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction --no-ansi --no-root

      - name: "Run test"
        run: "./lib/bashunit ./tests/apps/cli/e2e"

  build_docker_image:
    needs: [code-quality, pytest]
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and export Docker image
      uses: docker/build-push-action@v6
      with:
        tags: ${{env.IMAGE_NAME}}:latest
        file: Dockerfile.dev
        outputs: type=docker,dest=${{ runner.temp }}/myimage.tar

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: myimage
        path: ${{ runner.temp }}/myimage.tar

  e2e_dashboard:
    needs: [code-quality, build_docker_image]
    runs-on: ubuntu-24.04
    env:
      CHROMATIC_ARCHIVE_LOCATION: test-results/
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: myimage
        path: ${{ runner.temp }}

    - name: Load Docker image
      run: |
          docker load --input ${{ runner.temp }}/myimage.tar

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      working-directory: ./tests/apps/dashboard
      run: npm ci

    - name: Install Playwright Browsers
      working-directory: ./tests/apps/dashboard
      run: npx playwright install --with-deps

    - name: Run dashboard
      run: |
        ./run-docker-full-analysis.sh ${{ secrets.GITHUB_TOKEN }} $(pwd)/downloads ${{env.IMAGE_NAME}}
        docker run -d --rm \
          --name smm \
          -p 5006:5006 \
          -e SMM_STORE_DATA_AT="/data" \
          -v $(pwd)/downloads/ollama:/ollama \
          -v $(pwd)/downloads/ollama_analysis:/data \
          ${{env.IMAGE_NAME}}:latest \
          smm-dashboard

    - name: Run Playwright tests
      working-directory: ./tests/apps/dashboard
      run: |
        docker ps
        docker logs smm
        URL_DASHBOARD="http://$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}'):5006" npx playwright test

    - name: Run Playwright chromatic tests
      working-directory: ./tests/apps/dashboard
      run: npx chromatic --playwright --project-token=${{ secrets.CHROMATIC_KEY }} --exit-zero-on-changes

  send_docker_image_to_hub:
    needs: [code-quality, pytest, e2e_dashboard, build_docker_image]
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: login to docker hub
      id: docker-hub
      env:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_TOKEN}}
      run: |
        docker logout
        docker login -u $username -p $password docker.io

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: myimage
        path: ${{ runner.temp }}

    - name: Load Docker image
      run: |
          docker load --input ${{ runner.temp }}/myimage.tar
          docker image ls -a

    - name: Push Docker Image
      run: |
        docker push ${{env.IMAGE_NAME}}:latest

  delivery-test:
    permissions:
      id-token: write
    needs: [ pytest, e2e_cli ]
    if: github.ref == 'refs/heads/main' && contains(github.event.head_commit.message, 'tagged version')
    uses: ./.github/workflows/delivery-pypi.yml
    with:
      repository-url: 'https://test.pypi.org/legacy/'
    secrets:
      password: ${{ secrets.TEST_PYPI_API_TOKEN }}

  delivery:
    permissions:
      id-token: write
    needs: [ delivery-test ]
    uses: ./.github/workflows/delivery-pypi.yml
    with:
      repository-url: ''
    secrets:
      password: ${{ secrets.PYPI_API_TOKEN }}
