name: CI

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"

env:
  PYTHON_VERSION: 3.14.1

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Cache Poetry & pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies (poetry)
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction --no-ansi --no-root

      - name: Run flake8
        run: poetry run flake8

      - name: Run mypy
        run: poetry run mypy src/software_metrics_machine/core/infrastructure src/software_metrics_machine/core/code

  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    needs: code-quality
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Cache Poetry & pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies (poetry)
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction --no-ansi --no-root

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=$(pwd)/src:$(pwd)/${PYTHONPATH}" >> $GITHUB_ENV

      - name: Set Configuration
        run: |
          echo "SMM_STORE_DATA_AT=$(pwd)/tmp_test/github" >> $GITHUB_ENV
          mkdir -p "$(pwd)/tmp_test/github"

          TEMPLATE=$(cat <<EOF
            {
              "git_provider": "github",
              "github_token": "fake-token",
              "github_repository": "fake-repo-test",
              "git_repository_location": "$(pwd)/tmp_test/repo",
              "deployment_frequency_target_pipeline": "",
              "deployment_frequency_target_job": ""
            }
          EOF
          )

          echo "$TEMPLATE" > "$(pwd)/tmp_test/github/smm_config.json"
          mkdir -p "$(pwd)/tmp_test/repo"
          cp -R "$(pwd)/fixtures/github" "$(pwd)/tmp_test"
          chmod -R 755 "$(pwd)/tmp_test"

      - name: Run pytest
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Pytest"
          poetry run pytest -vvv --cov=. --cov-report=xml

      - name: Save coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml


  upload-coverage:
    name: Upload Coverage
    runs-on: ubuntu-latest
    needs: pytest
    steps:
      - name: Download coverage report
        uses: actions/download-artifact@v4
        with:
          name: coverage-report

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          format: cobertura
          file: coverage.xml

  e2e:
    needs: pytest
    name: "E2E tests CLI"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Install bashunit"
        run: |
          curl -s https://bashunit.typeddevs.com/install.sh > install.sh
          chmod +x install.sh
          ./install.sh

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Cache Poetry & pip
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
            .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=$(pwd)/src:$(pwd)/${PYTHONPATH}" >> $GITHUB_ENV

      - name: Install dependencies (poetry)
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction --no-ansi --no-root

      - name: "Run test"
        run: "./lib/bashunit ./tests/apps/cli/e2e

  send_docker_image_to_hub:
    needs: [code-quality, pytest, e2e]
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: login to docker hub
      id: docker-hub
      env:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_TOKEN}}
      run: |
        docker logout
        docker login -u $username -p $password docker.io
    - name: Build Docker Image
      run: |
        docker build -f Dockerfile.dev -t ${{secrets.DOCKERHUB_USERNAME}}/software-metrics-machine .
    - name: Push Docker Image
      run: |
        docker push ${{secrets.DOCKERHUB_USERNAME}}/software-metrics-machine:latest

  delivery-test:
    permissions:
      id-token: write
    needs: [ pytest, e2e ]
    if: github.ref == 'refs/heads/main' && contains(github.event.head_commit.message, 'tagged version')
    uses: ./.github/workflows/delivery-pypi.yml
    with:
      repository-url: 'https://test.pypi.org/legacy/'
    secrets:
      password: ${{ secrets.TEST_PYPI_API_TOKEN }}

  delivery:
    permissions:
      id-token: write
    needs: [ delivery-test ]
    uses: ./.github/workflows/delivery-pypi.yml
    with:
      repository-url: ''
    secrets:
      password: ${{ secrets.PYPI_API_TOKEN }}
