name: Delivery PyPI

on:
  workflow_dispatch:

env:
  PYTHON_VERSION: 3.13.7

jobs:
  delivery:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: fetch version
        uses: SebRollen/toml-action@v1.2.0
        id: read_toml
        with:
          file: 'pyproject.toml'
          field: 'version'

      - name: "Show version"
        run: echo "${{steps.read_toml.outputs.value}}"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies (poetry)
        run: poetry install --no-interaction --no-ansi --no-root

      - name: Build
        run: |
          rm -rf ./tests
          python -m pip install --upgrade build
          python3 -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
          password: ${{ secrets.PYPI_API_TOKEN }}
