name: Delivery PyPI

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./api

jobs:
  delivery:
    permissions:
      id-token: write
    uses: ./.github/workflows/delivery-pypi.yml
    with:
      repository-url: ''
    secrets:
      password: ${{ secrets.PYPI_API_TOKEN }}
