name: Delivery PyPI - Test

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./api

jobs:
  delivery:
    permissions:
      id-token: write
    uses: ./.github/workflows/delivery-pypi.yml
    with:
      repository-url: 'https://test.pypi.org/legacy/'
    secrets:
      password: ${{ secrets.TEST_PYPI_API_TOKEN }}
