name: Delivery PyPI - Test

on:
  workflow_dispatch:

env:
  PYTHON_VERSION: 3.13.7

jobs:
  delivery:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: fetch version
        uses: SebRollen/toml-action@v1.2.0
        id: read_toml
        with:
          file: 'pyproject.toml'
          field: 'version'

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          packages-dir: dist/
          password: ${{ secrets.TEST_PASSWORD_PYPI }}
