name: Delivery PyPI

on:
  workflow_dispatch:

jobs:
  delivery:
    uses: ./.github/workflows/delivery-pypi.yml
    with:
      repository-url: ''
    secrets:
      password: ${{ secrets.PYPI_API_TOKEN }}
