name: Playwright Tests

on:
  pull_request:
    branches: [ main ]

env:
  CHROMATIC_ARCHIVE_LOCATION: test-results/

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api/tests/apps/dashboard
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    # - name: Run Chromatic
    #   uses: chromaui/action@latest
    #   with:
    #     projectToken: ${{ secrets.CHROMATIC_KEY }}
    #     workingDir: ./tests/apps/dashboard

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      # run: npx chromatic --playwright --project-token=${{ secrets.CHROMATIC_KEY }}
      run: npx playwright test

    - name: Run Playwright chromatic tests
      run: npx chromatic --playwright --project-token=${{ secrets.CHROMATIC_KEY }} --exit-zero-on-changes
